@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/general.css" />

<div class="container grid grid--3--cols">
    <div class="meal">
        <a href="#">
            <img class="meal-image" src="~/img/Indonesia.avif" />
        </a>
        <p class="meal-title">
            Chicken & Pepper Enchiladas with Pico de Gallo & Lime Crema
        </p>
        <ul class="meal-attributes">
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon><span><strong>760 </strong>kcal</span>
            </li>
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon><span><strong>4.9</strong> rating (537)</span>
            </li>
        </ul>
    </div>
    <div class="meal">
        <a href="dish2.html">
            <img class="meal-image" src="images/dish2-card.jpg" />
        </a>
        <p class="meal-title">
            Korean Beef Bibimbap with Zucchini, Mushrooms, and Carrot
        </p>
        <ul class="meal-attributes">
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon><span><strong>810 </strong>kcal</span>
            </li>
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon><span><strong>4.7</strong> rating (123)</span>
            </li>
        </ul>
    </div>
    <div class="meal">
        <a href="dish3.html">
            <img class="meal-image" src="images/dish3-card.jpg" />
        </a>
        <p class="meal-title">
            Teriyaki Chicken Tacos with Cabbage Slaw and Pickled Red Onion
        </p>
        <ul class="meal-attributes">
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon><span><strong>730 </strong>kcal</span>
            </li>
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon><span><strong>4.8</strong> rating (407)</span>
            </li>
        </ul>
    </div>
    <div class="meal">
        <a href="dish4.html">
            <img class="meal-image" src="images/dish4-card.jpg" />
        </a>
        <p class="meal-title">
            Crispy Cheddar Chicken with Loaded Bacon Mashed Potatoes & Broccoli
        </p>
        <ul class="meal-attributes">
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon><span><strong>1050 </strong>kcal</span>
            </li>
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon><span><strong>4.7</strong> rating (204)</span>
            </li>
        </ul>
    </div>
    <div class="meal">
        <a href="dish5.html">
            <img class="meal-image" src="images/dish5-card.jpg" />
        </a>
        <p class="meal-title">
            Italian Chicken over Lemony Spaghetti with Zucchini and Chili Flakes
        </p>
        <ul class="meal-attributes">
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon><span><strong>760 </strong>kcal</span>
            </li>
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon><span><strong>4.8</strong> rating (305)</span>
            </li>
        </ul>
    </div>
    <div class="meal">
        <a href="dish6.html">
            <img class="meal-image" src="images/dish6-card.jpg" />
        </a>
        <p class="meal-title">
            Sirloin & Roasted Garlic Pan Sauce with Chive Roasted Fingerling
            Potatoes & Asparagus
        </p>
        <ul class="meal-attributes">
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon><span><strong>650 </strong>kcal</span>
            </li>
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon><span><strong>4.7</strong> rating (273)</span>
            </li>
        </ul>
    </div>
</div>
    </section>