@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/general.css" />
<link rel="stylesheet" href="~/css/home.css" />

<div class="search-container container">
    <input type="text" id="search-input" placeholder="Search for a destination..." />
    <button id="search-button">Search</button>
</div>

<!-- Result area (replaces this content when search is triggered) -->
<div id="search-results" class="home-container container grid grid--3--cols">
    <!-- Default content (static entries) shown until search is performed -->
    <div class="meal">
        <a href="#"><img class="travel-image" src="~/img/Indonesia.avif" /></a>
        <p class="meal-title">Bali</p>
        <ul class="meal-attributes">
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <img class="flag-image" src="~/img/Indonesia.png"><span>Indonesia</span>
            </li>
            <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon><span>Ubud</span>
            </li>
        </ul>
    </div>
    <!-- Add the rest of your static content here (Alps, Yosemite, etc.) -->
</div>

@section Scripts {
    <script>
        document.getElementById('search-button').addEventListener('click', function () {
            const query = document.getElementById('search-input').value;

            fetch(`/Destination/Search?query=${encodeURIComponent(query)}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('search-results').innerHTML = html;
                });
        });
    </script>
}
