@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/general.css" />
<link rel="stylesheet" href="~/css/login.css" />

<section class="section-log-in container margin-bottom-md">
    <div class="log-in-container">
        <form method="post" action="/your-login-endpoint">
            <div class="log-in-group">
                <span class="log-in-input-label">Email</span>
                <input type="text" name="email" class="log-in-input-box" />
            </div>
            <div class="log-in-group">
                <span class="log-in-input-label">Password</span>
                <input type="password" name="password" class="log-in-input-box" />
            </div>
            <div class="log-in-group">
                <a class="register-account" asp-controller="Account" asp-action="Register">Register Account</a>
                <button type="submit" class="log-in-button">Log In</button>
            </div>
        </form>
    </div>
</section>
